.section-header {
	position: relative;
	.page-anchor {
		position: absolute;
		top: -100px;
		opacity: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		pointer-events: none;
	}
}

.content-intro {
	> h2 {
		margin-bottom: 4rem;
		@media (max-width: 767px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	> article.wyg {
		@media (max-width: 767px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

.exhibitions-stage {
	margin-bottom: 3rem;
}


.listing_w_filters {
	display: flex;
	gap: 60px;
	align-items: flex-start;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

#grid {
	transition: opacity .3s;
}

.outer_grid {
	flex: 1 1 100%;
}


.exhibitions-grid {
	margin-top: 2rem;

	&.gridCount-2 {
		grid-template-columns: repeat(2, 1fr);
		display: grid;
		gap: 2rem;

		.exhibition-single {
			flex-direction: column;

			.img-wrap {
				width: 100%;
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: auto;
			}
			.txt-wrap {
				width: 100%;
				font-size: .8em;
				flex: 1 1 auto;
				padding-top: 10px;
				justify-content: flex-start;
			}
		}
		.exhibition_title {
			font-size: 1.8rem;
			line-height: 1.1;
			@media (max-width: 768px) {
				font-size: 1.5rem;
			}
		}
	}

	&.gridCount-3 {
		grid-template-columns: repeat(3, 1fr);
		display: grid;
		gap: 2rem;

		.exhibition-single {
			flex-direction: column;
			
			.img-wrap {
				width: 100%;
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: auto;
			}
			.txt-wrap {
				width: 100%;
				font-size: .8em;
				flex: 1 1 auto;
				justify-content: flex-start;
			}
			.exhibition_title {
				font-size: 1.4rem;
			}
			.exhibition-start,
			.exhibition-end {
				position: relative;
				display: block;
			}
			.exhibition-start {
				right: 20px;
			}
			.exhibition-end {
				left: 20px;
			}
		}
	}

	.exhib-newyear {
		flex-basis: 100%;
		flex-shrink: 0;
		position: relative;
		height: 0px;
		span {
			position: absolute;
			left: -10%;
			left: calc(-75px + 1.5rem);
			top: -0.25rem;
		}
	}

	.exhibition-single {
		margin-bottom: 2rem;
		display: flex;

		.img-wrap {
			width: 50%;
			flex: 0 0 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.txt-wrap {
			width: 50%;
			flex: 0 0 50%;
			@include padinLR;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 1.2rem;
			padding-bottom: 30px;
		}
		.wyg {
			color: var(--colorGray);
		}
	}

	a {
		color: var(--colorSubdue);
		font-style: italic;
		&:hover {
			color: inherit;
		}
	}
	@media (max-width: 767px) {
		margin-left: 0;
		margin-right: 0;
	}
	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.exhibtion_caption {
		font-size: .8rem;
		color: var(--colorSubdue);
		min-height: 30px;
		line-height: 1;
		padding-top: 2px;
		align-self: baseline;
	}
	.exhibition_title {
		font-variant: none;
		text-transform: none;
		font-weight: 100;
		font-size: 2.4rem;
		margin-bottom: 1rem;
		font-style: normal;
		text-decoration: none;
		color: black;
		h3 {
			font-weight: 100;
			font-size: inherit;
			font-style: inherit;
		}
		@media (max-width: 1000px) {
			font-size: 1.8rem;

		}
	}
}
.stage_title {
	font-variant: small-caps;
	font-size: 19px;
	letter-spacing: 0.015em;
	border-bottom: 1px solid #d8d8d3;
	padding-bottom: 20px;
	font-weight: 100;
}
.artists-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	@media (min-width: 768px) {
		@include pullLR;
	}
	@media (max-width: 767px) {
		display: block;
	}
	margin-top: 4rem;
	.artist-single {
		flex-basis: 50%;
		flex-shrink: 0;
		@include padinLR;
		margin-bottom: 4rem;
		h2 a {
			color: inherit;
			&:hover {
				color: var(--colorSubdue);
			}
		}
		h2 + p {
			margin-top: 0.75rem;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		.img-wrap {
			margin-bottom: 1.5rem;
		}
	}
}
section.section-artists-headshot:not(.bleed) {
	@media (min-width: 768px) {
		max-width: 33vw;
		max-width: calc(33vw - 3rem);
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
.artist-headshot {
	text-align: center;
	margin-bottom: 4rem;
}
.artist-quote {
	text-align: center;
	font-style: italic;
	margin-bottom: 2rem;
}
.headshots {
	display: flex;
	@include padinR;
	figure {
		flex-basis: 0;
		flex-grow: 1;
		@include padinL;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
}
.section-image_columns {
	display: flex;

	figure {
		margin: 0 auto;
		@include relPadL_half;
		@include relPadR_half;
		&:first-child {
			@include relPadL;
		}
		&:last-child {
			@include relPadR;
		}
	}

	> * {
		flex-basis: 0;
		flex-grow: 1;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
		// max-height: 100%;
		// object-fit: contain;
	}
	@media (max-width: 767px) {
		flex-direction: column;
		figure {
			flex-basis: 50%;
			@include padinLR;
			img {
				display: block;
			}
			& + figure {
				margin-top: 1rem;
			}
		}
		&.cnt-4 {
			flex-wrap: wrap;
		}
	}
}

.img-enlarge {
	display: inline-block;
	&:focus-visible {
		outline: solid 2px black;
	}
}

main {
//	min-height: 50vh;
	
	.gform_contact_wrapper,
	.section-text .gform_contact_wrapper,
	.pre-form {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		.gfield_error {
			padding-left: 1rem;
			padding-right: 1rem;
			input,
			textarea {
				max-width: calc(100% - 1rem) !important;
			}
		}
		input {
			@include textInput;
			padding: 0;
			border-radius: 0;
			appearance: none;
			border-bottom: solid 1px;
			border-color: var(--colorFG);
			&::placeholder {
				color: var(--colorSubdue);
			}
			&[type="text"] {
				&:placeholder-shown {
					// opacity: 0.5;
					border-color: $borderColor;
				}
				&:focus {
					// opacity: 1;
					border-color: var(--colorFG);
				}
			}
		}
		textarea {
			border: solid 1px $borderColor;
			border-color: var(--colorFG);
			&:focus {
				outline: none;
			}

			&.empty {
				// opacity: 0.5;
				border-color: $borderColor;
			}
			&:focus {
				border-color: var(--colorFG);
			}
			// &:focus-visible {
			// 	outline: solid 1px #000;
			// 	outline-offset: 3px;
			// }
		}
		input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
			padding: 0.5rem 0;
			&:focus-visible {
				outline: solid 1px transparent;
			}
		}
		.gfield_label {
			display: block !important;
			text-align: center;
			@include title;
			font-weight: normal;
		}
		.gfield {
			margin-bottom: 2rem;
		}
		li.hidden_label input {
			margin-top: 0;
		}
		.gfield_required_asterisk {
			display: none;
		}
		div.ginput_container_radio {
			margin-top: 0 !important;
			label {
				color: var(--colorSubdue);
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: 0.45rem;
					left: -32px;
					width: 18px;
					height: 18px;
					border: solid 1px;
					border-radius: 50%;
				}
			}
			input[type="radio"] {
				position: absolute;
				opacity: 0;
				&:checked + label {
					font-weight: normal;
					color: inherit;
					&:before {
						border-color: black;
					}
					&:after {
						content: "";
						position: absolute;
						top: 0.75rem;
						left: -27px;
						width: 8px;
						height: 8px;
						background: black;
						border-radius: 50%;
					}
				}
				&:focus-visible + label {
					outline: solid 1px black;
					outline-offset: 3px;
				}
				
			}
			ul {
				margin: 0;
				li {
					label {
						margin: 0;
					}
				}
			}
			ul.gfield_radio {
				@media (max-width: 767px) {
					padding-left: 1.75rem;
				}
				li {
					overflow: visible;
					label {
						@include textInput;
					}
				}
			}
		}
		label.gfield_label {
			margin: 4.625rem 0 2.75rem;
		}
		// .ginput_container_radio {
		// 	label {
		// 		padding-left: 25px;
		// 		position: relative;
		// 		display: block;
		// 		@media (min-width: 768px) {
		// 			margin-left: -25px;
		// 		}
		// 		&:before {
		// 			content: "";
		// 			position: absolute;
		// 			top: 4px;
		// 			left: 0;
		// 			width: 16px;
		// 			height: 16px;
		// 			border: solid 1px var(--colorSubdue);
		// 			border-radius: 50%;
		// 		}
		// 	}
		// 	input[type="checkbox"]:checked + label {
		// 		&:after {
		// 			content: "";
		// 			position: absolute;
		// 			top: 7px;
		// 			left: 3px;
		// 			width: 10px;
		// 			height: 10px;
		// 			background: black;
		// 			border-radius: 50%;
		// 		}
		// 	}
		// }
	}
	.gform_contact_wrapper .gform_footer {
		padding: 1.5rem 0 0;
		margin: 0;
		br {
			display: none;
		}
	}
	.gform_legacy_markup_wrapper ul.gform_fields li.gfield {
		padding-right: 0;
	}
	.gform_contact_wrapper input.button,
	.gform_contact_wrapper input[type="submit"],
	.gform_contact_wrapper .gform_footer input.button,
	.gform_contact_wrapper .gform_footer input[type="submit"],
	.gform_contact_wrapper .gform_page_footer input.button,
	.gform_contact_wrapper .gform_page_footer input[type="submit"] {
		@include title;
		cursor: pointer;
		background: var(--bgSubdue);
		display: block;
		margin: auto;
		padding: 1.4rem;
		min-width: 180px;
		text-align: center;
		border: none;
		border-radius: 4px;
		color: var(--colorFG);
		&:hover,
		&:active {
			// background: rgba(0, 0, 0, 0.15);
			background: #d8d8d3;
		}
	}
	.gform_contact_wrapper div.validation_error {
		font-weight: normal;
		@include typeBase;
		font-style: italic;
		border: none;
		padding: 0;
	}
	.gform_contact_wrapper li.gfield.gfield_error,
	.gform_contact_wrapper
		li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		border: solid 1px;
		border-color: #c89797;
	}
	.gform_contact_wrapper .validation_message {
		font-weight: normal;
		margin-bottom: 1rem;
		text-align: center;
	}
}
@media (hover: hover) {
	.gchoice, .ginput_container_consent {
		transition-duration:0.15s;
		label {
			cursor:pointer;
		}
		&:HOVER {
			--colorSubdue:#000;
		}
	}
}

.mailinglist-cta,
#gform_wrapper_1,
.gform_confirmation_message {
	max-width: 100%;
	margin: 3.5rem 0;
	// padding: 2.5rem 2rem 2rem;
	// background: #f2f2f2;
	border-radius: 5px;
	input[type="text"] {
		display: block;
		width: 100%;
		max-width: 450px;
		margin: auto;
		background: none;
		appearance: none;
		border: none;
		// text-align: center;
		border-bottom: solid 1px;
		padding: 0.25rem 0 0.75rem;
		@include textInput;
		&::placeholder {
			color: var(--colorSubdue);
		}
		&[type="text"] {
			&:placeholder-shown {
				// opacity: 0.5;
				border-color: $borderColor;
			}
			&:focus {
				// opacity: 1;
				border-color: var(--colorFG);
			}
		}
	}
	input[type="checkbox"] {
		display: grid;
		place-content: center;
		accent-color: white;
		appearance: initial;
		border: solid 1px;
		width: 12px;
		height: 12px;
		display: inline-block;
		border-radius: 50%;
		margin-top: 0.2rem;
		margin-right: 0.5rem;
		background: #f2f2f2;
		flex-shrink: 0;
		&:checked {
			background: #000;
		}
	}

	input[type="checkbox"]::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em var(--form-control-color);
	}

	input[type="checkbox"]:checked::before {
		transform: scale(1);
	}
	input[type="submit"] {
		@include textInput;
		@include title;
		cursor: pointer;
		background: var(--bgSubdue);
		display: block;
		margin: auto;
		padding: 1.4rem;
		min-width: 180px;
		text-align: center;
		border: none;
		border-radius: 4px;
		color: var(--colorFG);
		&:hover,
		&:active {
			// background: rgba(0, 0, 0, 0.15);
			background: #d8d8d3;
		}
	}
	.ginput_container_consent {
		text-align: center;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		label.gfield_consent_label {
			@include typeBase;
		}
		@media (max-width: 767px) {
			text-align: left;
		}
	}
	.gform_footer {
		text-align: center;
		p {
			position: absolute;
		}
		p {
			margin: 0;
		}
	}
	@media (max-width: 767px) {
		padding: 1.5rem 1rem;
	}
}
.gform_fields {
	list-style: none;
}
.gform_confirmation_message {
	text-align: center;
}

// Accordions
.section-accordion {
	border-bottom: solid 1px;
	border-color: var(--colorSubdue);
	.accordion-expand {
		padding: 0 0 5rem;
	}
	[open] .accordion-expand {
		opacity: 0;
		animation: fadeIn 1s forwards 1;
	}
	@media(max-width:767px){
		border-bottom:none;
		position:relative;
		&:after {
			content:"";
			position:absolute;
			bottom:0;
			left:1rem;
			right:1rem;
			height:1px;
			background:var(--colorSubdue);
		}
	}
}

details {
	border-top: solid 1px;
	border-color: var(--colorSubdue);
	summary {
		position: relative;
		list-style: none;
		appearance: none;
		outline: none;
		padding: 1.5rem 2rem 1.5rem 0;
		margin: 0;
		cursor: pointer;
		@include headline;
		&::-webkit-details-marker {
			display: none;
		}
		&::marker {
			content: "";
		}
		// &:before,
		// &:after {
		// 	content: "";
		// 	width: 20px;
		// 	height: 1px;
		// 	background: var(--colorSubdue);
		// 	position: absolute;
		// 	top: 36px;
		// 	right: 1rem;
		// }
		// &:after {
		// 	transform: rotate(90deg);
		// }
		svg {
			position: absolute;
			top: 2rem;
			right: 0.5rem;
			width: 12.35px;
			height: 6.53px;
			transition-duration:0.15s;
			transition-property:transform;
			path {
				transition-duration:0.15s;
				transition-property:stroke;
			}
		}
		strong {
			font-weight: normal;
			@include headline;
		}
		@media (hover: hover) {
			&:HOVER {
				svg path {
					stroke:var(--colorFG);
				}
			}
		}
	}
	&[open] {
		// summary:after {
		// 	opacity: 0;
		// }
		svg {
			transform: scaleY(-1);
		}
	}
}



/*
 * FILTERS
 */

section:not(.bleed).section-w-filters {
	max-width: 55em;
}
.page_filters {


	@media (max-width: 1250px) {
		position: sticky;
		top: 150px;
		width: 20%;
		flex: 0 0 20%;
    }
	@media (max-width: 767px) {
		display: flex;
		width: 100vw;
		background-color: white;
		flex: 0 0 100%;
		z-index: 999;
		top: 38px;
		box-shadow: 0 0 20px rgba(128, 128, 128, 0.1);
		padding: 20px 10px;
		margin-left: -2.5vw;
    }
	@media (min-width: 767px) {
		width: 15rem;
		flex: 0 0 15rem;
    }

}

.filters_group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	
	@media (min-width: 767px) {
		border-bottom: 1px solid #d8d8d3;
		padding-bottom: 20px;
		margin-bottom: 20px;
    }
	@media (max-width: 767px) {
		flex: 1 1 20%;
		padding: 0 10px;
    }

	&.all {
		@media (max-width: 767px) {
			flex: 0 0 60px;
		}
	}

	&.large {
		@media (max-width: 767px) {
			flex: 1 1 40%;
		}
	}
	&.medium {
		@media (max-width: 767px) {
			flex: 1 1 30%;
		}
	}
	&.inline {
		flex-direction: row;
		flex-wrap: wrap;

		.filter-item {
			padding-right: 10px;
		}
	}
}
.filter-item {
	font-family: inherit;
	font-size: 1rem;
	text-align: left;
	padding: 4px 0px;
	transition: color .3s;

	&.active {
		font-weight: bold;
	}
	&:hover {
		color: var(--colorSubdue);
	}
}

.terms-group {
	list-style: none;
	width: 100%;

	.filter-parent {
		margin: 0;
		font-size: 1rem;
		line-height: 1;
		padding: 4px 0px;
		transition: color .3s;
		font-family: inherit;

		.fas {
			margin-left: 5px;
			font-size: .6rem;
			color: var(--colorGray);
		}
	}
	.children-group {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 10px;

		.filter-item {
			padding-right: 10px;
		}
	}
	.blocked {
		flex: 0 0 100%;
	}
	.grandchildren-group {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 5px 0;

		& > * {
			flex: 0 0 50%;
			width: 50%;
		}
	}
	.grandchildren-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}


// Filters Dropdown 


.js_dropdown {

	&.closed .js_dropd_content {
        max-height: 0 !important;
    }

	i:before {
		transition: all .2s;
		display: inline-block;
	}
	&:not(.closed) i:before {
		transform: rotate(90deg);
	}
} 

.js_dropd_link {
    &:hover {
        color: var(--colorGray);
		cursor: pointer;
    }
}

.js_dropd_content {
    overflow: hidden;
    transition: max-height .4s;
}




.publication-single {
	margin-bottom: 3rem;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -1.5rem;
		left: 0;
		width: 20px;
		height: 1px;
		background-color: #d8d8d3;
	}
	.item_title {
		padding-bottom: 5px;
		font-weight: 100;
		font-size: 1.6rem;
		line-height: 1;
		font-style: italic;
	}
	.item_author {
		padding-bottom: 10px;
		font-weight: 100;
		font-size: 1.3rem;
		line-height: 1;
	}
	a {
		font-size: 16px;
	}
	a:after {
		font-family: "dashicons";
		content: "\f504";
		padding-left: 5px;
		font-size: 14px;
	}

	.item_meta {
		margin-top: 0;
		font-size: 1.2rem;
	}
	.item_content {
		font-size: inherit;
		color: #b0afaa;

		p {
			display: inline;
		}
	}
}


.separator {
	content: " • ";
	padding: 0 5px;
	display: inline-block;
	color: black;
	height: 20px;
}




/*
 * STUDIOS
 */


.studio_single {
	margin-bottom: 10rem;
	margin-top: 10rem;
}

.section-studio {

	h2 {
		font-size: 6rem;
		text-align: left;
		margin-bottom: 4rem;
		font-weight: bold;
	}
	.page_filters {

		@media (max-width: 767px) {
			min-width: 7rem;
			top: 37px;
			width: 100vw;
			background: white;

			ul {
				display: flex;
			}
			.filters_group {
				flex: 1 1 auto;
				padding: 10px;
			}
		}

		@media (max-width: 1250px) {
			position: sticky;
			min-width: 7rem;
		}
		@media (min-width: 767px) {
			padding-top: 175px;
			top: 0;
		}
	}
}


.intro_titles_image {
	margin-bottom: 4rem;
	@media (min-width: 767px) {
		display: flex;
		gap: 40px;
	}
}
.intro_text {
	flex: 1 1 40%;
}
.intro_image {
	flex: 1 1 60%;
	@media (max-width: 767px) {
		margin-top: 2rem;

		img {
			width: 100%;
		}
	}
}
h2.studio_dates {
	font-size: 6rem;
	text-align: left;
	line-height: .8;
	margin-bottom: 2rem;
	font-weight: bold;
}
.studio_title {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.studio_medias {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 2rem;

	li {
		max-width: 33%;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}
}
.studio_content {
	& > * {
		margin-bottom: 4rem;
	}
	p {
		line-height: 1.4;
		margin-top: 0;
		font-size: 1.2rem;
	}
	.wp-element-caption {
		font-size: 1rem;
		color: var(--colorGray);
	}
}

.wp-block-columns {
	gap: 40px;
}
.has-text-align-center {
	margin: 3rem;
}
.posts_navigation {
	margin-top: 4rem;
}



.mainBtn {
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px 7px;
	transition: all .3s;

	&:hover {
		color: white;
		background-color: black;
	}
}




.header_banner {
    padding-top: 1rem;
    padding-bottom: 1rem;
	background-color: #f5f5f3;

	.marquee {
		overflow: hidden;
		display: flex;

		h3 {
			white-space: nowrap; 
			font-size: 22px;
			letter-spacing: .05em; 
			margin-right: 100px;
			font-weight: normal;
		}

		a {
			text-decoration: underline;
		}
		p {
			margin: 0;
		}
	}

}



// FAQ

.section-text.faq {
	margin-bottom: 60px;
	max-width: 55em;
	display: flex;
	justify-content: flex-end;
	width: 95%;

	.inner {
		width: calc(66% - 30px);
	}
}
.grid-faq {
	display: flex;
	width: 95%;
	max-width: 55em;
	margin-left: auto;
	margin-right: auto;
	gap: 85px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
	
	.section-text {
		@media (min-width: 767px) {
			width: 33%;
		}
	}

	.accordion-toggle {
		font-size: 25px;
		font-variant: none;
	}
	.section-accordion {
		margin-top: 0;
	}

	strong {
		font-weight: bold;
		text-transform: none;
		font-variant: none;
	}
}

	.faq-nav {
		list-style: none;
		padding: 0;
		margin: 0;

		.faq-nav-item {

			margin-bottom: 5px;

			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-decoration: none;
				padding: 15px 20px;
			}

			.active,
			a:hover  {
				background-color: #f6f6f6;
				border-radius: 3px;
			}
			.active {
				border-left: 3px solid;
			}
			a:hover {
				text-decoration: underline;
				color: black;
			}

			&:before {
				content: none;
			}
		}



}
