@font-face {
  font-family: "Romaine";
  src: url("../fonts/Romaine-Regular.woff2") format("woff2"), url("../fonts/Romaine-Regular.woff");
}
@font-face {
  font-family: "Romaine";
  src: url("../fonts/Romaine-Italic.woff2") format("woff2"), url("../fonts/Romaine-Italic.woff");
  font-style: italic;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-size: 18px;
  scroll-behavior: smooth;
  -webkit-flex-direction: column;
          flex-direction: column;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible),
*:active {
  outline: none;
}

:focus-visible {
  outline: 1px solid black;
}

body {
  font-family: "Romaine", serif;
  font-size: 22px;
  line-height: 1.2;
  color: #000;
  padding: 0px;
  margin: 0;
  background: white;
  font-variant-numeric: proportional-nums;
  font-feature-settings: "pnum";
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: discretionary-ligatures;
}

.block {
  margin: auto;
  padding: 1rem 3rem;
  max-width: 40em;
}
@media (max-width: 767px) {
  .block {
    padding-left: 20px;
    padding-right: 20px;
  }
}

h1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 0.015em;
  word-spacing: -0.03em;
  font-variant: small-caps;
  font-size: 1.5vw;
  padding: 0 20px;
}
@media (min-width: 1300px) {
  h1 {
    font-size: 19px;
  }
}
@media (max-width: 875px) {
  h1 {
    display: block;
    font-size: 15px;
    padding: 0 1rem;
  }
  h1 span {
    display: block;
  }
}

h2 {
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 0.015em;
  word-spacing: -0.03em;
  font-variant: small-caps;
  padding: 0;
  margin: 0;
  display: none;
}

footer {
  font-size: 18px;
  position: relative;
  padding: 0 20px 16px;
  padding-top: 3rem;
}
footer a {
  color: black;
  text-decoration: none;
  border-bottom: solid 1px transparent;
}
footer a:HOVER {
  border-color: black;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
figure {
  position: relative;
  max-height: 90vh;
  min-height: 600px;
  overflow: hidden;
  margin: 0 0 3rem 0;
}
figure:BEFORE {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}
@media (max-width: 849px) {
  figure:BEFORE {
    padding-bottom: 120%;
  }
}
figure .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
figure .slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 850px) {
  figure .slide .orient-vert {
    display: none;
  }
}
@media (max-width: 849px) {
  figure .slide .orient-hor {
    display: none;
  }
}
figure .slide:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
figure .slide:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
figure .slide:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

/*# sourceMappingURL=styles.css.map */